*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
/.idea/
app/release/
app.jks
.idea/
.idea/caches/
.idea/misc.xml
